<!DOCTYPE html>

<!--Thymeleaf, ConfigFragment 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <title>Playground For Us</title>

    <!--Common CSS -->
    <link th:inline="css" th:href="@{/common/reset.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/common/custom.css}" rel="stylesheet"/>
    <!--BOOTSTRAP5 CSS-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--BOOTSTRAP ICON-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!--Common JS - jQUERY-->
    <script th:inline="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--BOOTSTRAP5 JS-->
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- HANDLEBARS -->
    <script src="/js/lib/handlebars-v4.7.7.js"></script>
    <!--CUSTOM-->
    <script type="module" src="/js/common/customize.js"></script>

    <!--TEMPLATE-->
    <script type="alertTemplate" id="commonAlert" src="/static/js/common/template/commonAlert.html"></script>
</head>
</html>