<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
        <title>메인페이지 타이틀</title>

        <!-- inline CSS 영역-->
        <style th:inline="css" type="text/css">
            .badge-success{
                background-color: #d6f0e0;
                color: #0d6832;
            }
            .badge-primary{
                background-color: #dfe7f6;
                color: #2c58a0;
            }
            .badge-warning{
                background-color: #fbf0da;
                color: #73510d;
            }
            td{
                vertical-align: middle;
            }
        </style>

        <!-- inline JS 영역-->
        <!--<script th:inline="javascript" type="text/javascript">
        </script>-->
    </head>

    <body>
        <div class="container">
            <table class="table align-middle mb-0 bg-white table-responsive text-nowrap text-center">
                <colgroup>
                    <col width="20%">
                    <col width="10%">
                    <col width="30%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead class="bg-light">
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Summary</th>
                        <th>Writer</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="brd : ${pgfuBoards}">
                        <tr>
                            <td><span th:text="${brd.boardTitle}"></span></td>
                            <td><span class="badge rounded-pill d-inline" th:classappend="${brd.pgfuBoardCategory.categoryColor}"  th:text="${brd.pgfuBoardCategory.categoryValue}"></span></td>
                            <td>
                                <p class="fw-normal mb-1" th:text="${brd.boardContent}"></p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                         alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1" th:text="${brd.user.pgfuProfile.nickname}"></p>
                                        <p class="text-muted mb-0" th:text="${brd.user.userId}"></p>
                                    </div>
                                </div>
                            </td>
                            <td th:text="${brd.regdate}"></td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                            </td>
                        </tr>
                    </th:block>
                    <tr>
                        <td>
                            <span>Title1</span>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">Summary....</p>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>2023-03-29 17:13:23</td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Title1</span>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">Summary....</p>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                                     alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>2023-03-29 17:13:23</td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span>Title1</span>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">Summary....</p>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                                     alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>2023-03-29 17:13:23</td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Pagination-->
            <nav aria-label="PageNavi" class="mt-1">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--Write Btn-->
            <div class="d-flex justify-content-end">
                <a role="button" class="btn btn-primary" onclick="window.openWindow('/hub/commonboard/writePage')"><i class="bi bi-pencil-square"></i>글쓰기</a>
            </div>
        </div>
        <script src="/js/commonBoard/commonBoard.js"></script>
    </body>
</html>