<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inforex.yeoboya_admin.proc.JoinStats" >
	<!--시간별 합계-->
	<select id="getJoinStatsTime" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">
		SELECT
		#{regSlct} as reg_slct,
		mem_join_date dt,
		HOUR(mem_join_time) tm,
		<include refid="joinTimeDiv" />
		<choose>
			<when test="memberType == 'join'">
				FROM member_basic
			</when>
			<otherwise>
				FROM member_basic_exit
			</otherwise>
		</choose>
		WHERE 1=1
		AND mem_join_date IN
		<foreach collection="dateArr" item="item" open="(" close=")" index="index" separator=",">
			'${item}'
		</foreach>
		GROUP BY reg_slct, dt, tm
	</select>

	<!--일일 합계-->
	<select id="getJoinStatsDaySum" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">
		SELECT
		#{regSlct} as reg_slct,
		mem_join_date dt,
		<include refid="joinTimeDiv" />
		<choose>
			<when test="memberType == 'join'">
				FROM member_basic
			</when>
			<otherwise>
				FROM member_basic_exit
			</otherwise>
		</choose>
		WHERE 1=1
		AND mem_join_date IN
		<foreach collection="dateArr" item="item" open="(" close=")" index="index" separator=",">
			'${item}'
		</foreach>
		GROUP BY reg_slct, dt
	</select>

	<!--반복문 처리-->
	<sql id="joinTimeDiv">
		SUM(mem_sex='m' AND join_media='w') AS m_cnt,
		sum(mem_sex='f' AND join_media='w') AS f_cnt,
		SUM(mem_sex='m' AND join_media IN ('s', 'b')) AS m_smtp_cnt,
		SUM(mem_sex='f' AND join_media IN ('s', 'b')) AS f_smtp_cnt,
		SUM(mem_sex='m' AND join_media='x') AS m_mow_cnt,
		SUM(mem_sex='f' AND join_media='x') AS f_mow_cnt,
		SUM(mem_sex='m' AND mem_slct='b')	AS  sb_m_cnt,
		SUM(mem_sex='f' AND mem_slct='b')	AS  sb_f_cnt,
		SUM(mem_sex='m' AND mem_slct='n')	AS  sn_m_cnt,
		SUM(mem_sex='f' AND mem_slct='n')	AS  sn_f_cnt,
		SUM(mem_sex='m' AND mem_slct='o')	AS  sk_m_cnt,
		SUM(mem_sex='f' AND mem_slct='o')	AS  sk_f_cnt,
		SUM(mem_sex='m' AND mem_slct='f')	AS  sf_m_cnt,
		SUM(mem_sex='f' AND mem_slct='f')	AS  sf_f_cnt,
		SUM(mem_sex='m' AND mem_slct='g')	AS  sg_m_cnt,
		SUM(mem_sex='f' AND mem_slct='g')	AS  sg_f_cnt,
		SUM(mem_sex='m' AND mem_slct='a')	AS  sa_m_cnt,
		SUM(mem_sex='f' AND mem_slct='a')	AS  sa_f_cnt,
		SUM(mem_sex='m' AND mem_chnl=502)	AS  m_502_cnt,
		SUM(mem_sex='f' AND mem_chnl=502)	AS  f_502_cnt
	</sql>

	<select id="getJoinStatsMemberSum" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.MemberStatsVO">
		SELECT join_m_cnt,join_f_cnt,exit_m_cnt,exit_f_cnt
		FROM member_cnt_stat
	</select>


	<select id="getJoinStatsMonth" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">
		SELECT
			#{regSlct} AS reg_slct,
			DATE_FORMAT(mem_join_date, '%Y-%m') AS dm,
			mem_join_date AS dt,
		<include refid="joinTimeDiv" />
		<choose>
			<when test="memberType == 'join'">
				FROM member_basic
			</when>
			<otherwise>
				FROM member_basic_exit
			</otherwise>
		</choose>
		WHERE mem_join_date BETWEEN #{sDt} AND #{eDt}
		GROUP BY 1,2,3
		ORDER BY mem_join_date DESC;
	</select>

	<select id="getJoinStatsMonthSum" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">
		SELECT
		#{regSlct} AS reg_slct,
		DATE_FORMAT(mem_join_date, '%Y-%m') AS dm,
		<include refid="joinTimeDiv" />
		<choose>
			<when test="memberType == 'join'">
				FROM member_basic
			</when>
			<otherwise>
				FROM member_basic_exit
			</otherwise>
		</choose>
		WHERE mem_join_date BETWEEN #{sDt} AND #{eDt}
		GROUP BY 1,2;
	</select>

	<select id="getMemberList" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.MemberResultVO">
		(
		<include refid="memberHeader">
			<property name="exitDate" value="''"/>
			<property name="memberTable" value="member_basic"/>
		</include>
		<where>
			<include refid="memberSch"></include>
		</where>

		)
		UNION ALL
		(
		<include refid="memberHeader">
			<property name="exitDate" value="date_format(a.exit_date, '%Y-%m-%d')"/>
			<property name="memberTable" value="member_basic_exit"/>
		</include>
		<where>
			<include refid="memberSch"></include>
		</where>
		)
		ORDER BY mem_join_time DESC LIMIT #{start}, #{limit}
	</select>

	<sql id="memberHeader">
		SELECT a.mem_no,a.mem_id,a.mem_nick,CONCAT(e.mem_last_name,e.mem_first_name) AS mem_name,a.mem_loc
			 ,YEAR(now())-a.mem_birth_year+1 AS mem_age
			 ,a.join_media,a.mem_join_date,date_format(a.mem_join_time, '%H:%i') as mem_join_time,a.mem_ip
			 ,f_ip_nation(a.mem_ip) AS natnCode
			 , SUBSTRING_INDEX(a.mem_ip, '.', 3) ipClss
			 ,ifnull(d.block_cnt,0) block_cnt,ifnull(d.warm_cnt,0) AS warm_cnt
			 ,${exitDate} AS exit_date
			 ,a.join_os
			 ,ifnull(e.mate_slct,'') mateSlct
			 ,a.mem_sex
			 , if(g.auto_no IS NULL, SUBSTRING_INDEX(f.ad_where, '_', 1), g.media_name) adName
			 ,a.mem_slct
			,c.smtp_id
			,a.mem_hphone
		FROM ${memberTable} a
			LEFT JOIN member_sess b ON a.mem_no = b.mem_no
			LEFT JOIN member_smtp_info c ON a.mem_no = c.mem_no
			LEFT JOIN member_detail d ON a.mem_no = d.mem_no
			LEFT JOIN member_mate e ON a.mem_no = e.mem_no
			LEFT JOIN m_yeoboya.mem_adv f ON (a.mem_no=f.mem_no)
			LEFT JOIN m_yeoboya.ad_partner g ON (f.ad_name=g.ad_name)
	</sql>

	<sql id="memberSch">
		a.mem_join_date= #{schDate}
		<if test="schTime != 'ALL'">
			AND a.mem_join_time BETWEEN  CONCAT(#{schTime}, ':00:00') AND CONCAT(#{schTime}, ':59:59')
		</if>
		<if test="schTime == 'ALL'">
			AND a.mem_join_time BETWEEN  '00:00:00' AND '23:59:59'
		</if>
		<if test="schSex != null and schSex != ''">
			AND a.mem_sex=#{schSex}
		</if>
		<if test="schJoinMedia != null and schJoinMedia != ''">
			AND a.join_media=#{schJoinMedia}
		</if>
		<if test="schMemSlct != null and schMemSlct != ''">
			AND a.mem_slct=#{schMemSlct}
		</if>
	</sql>

	<select id="getBlockIpClss" resultType="java.lang.String">
		SELECT DISTINCT SUBSTRING_INDEX(mem_ip, '.', 3) ipClss FROM block_ip_logout WHERE  block_end_date>=DATE_SUB(NOW(), INTERVAL 1 WEEK)
	</select>

	<select id="getClassifyList" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.ClassifyResultVO">
		SELECT *
		FROM (
		    SELECT
		           A.slct, A.m_cnt, A.f_cnt, B.m_cnt x_m_cnt, B.f_cnt x_f_cnt
		    FROM
		        (
				<include refid="classifyHeader">
					<property name="memberTable" value="member_basic"/>
				</include>
				) A LEFT JOIN
				(
		        <include refid="classifyHeader">
					<property name="memberTable" value="member_basic_exit"/>
				</include>
				) B ON (A.slct=B.slct)
		    ) C ORDER BY m_cnt + f_cnt DESC
	</select>

	<select id="getClassifySumData" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.ClassifyResultVO">
		SELECT *
		FROM (
			SELECT
			A.slct, A.m_cnt, A.f_cnt, B.m_cnt x_m_cnt, B.f_cnt x_f_cnt
			FROM
				(
				<include refid="classifyHeader">
					<property name="memberTable" value="member_basic"/>
				</include>
				) A LEFT JOIN
				(
				<include refid="classifyHeader">
					<property name="memberTable" value="member_basic_exit"/>
				</include>
				) B ON (A.slct=B.slct)
		) C GROUP BY C.slct
	</select>

	<sql id="classifyHeader">
		SELECT
		<choose>
		       	<when test="schMemSlct == 'age'">
					<![CDATA[
					CASE WHEN YEAR(now())-mem_birth_year+1>=20 AND YEAR(now())-mem_birth_year+1<25 THEN 20
						 WHEN YEAR(now())-mem_birth_year+1>=25 AND YEAR(now())-mem_birth_year+1<30 THEN 25
						 WHEN YEAR(now())-mem_birth_year+1>=30 AND YEAR(now())-mem_birth_year+1<35 THEN 30
						 WHEN YEAR(now())-mem_birth_year+1>=35 AND YEAR(now())-mem_birth_year+1<40 THEN 35
						 WHEN YEAR(now())-mem_birth_year+1>=40 AND YEAR(now())-mem_birth_year+1<45 THEN 40
						 WHEN YEAR(now())-mem_birth_year+1>=45 AND YEAR(now())-mem_birth_year+1<50 THEN 45
						 ELSE 50 END AS slct,
					]]>
			   	</when>
				<otherwise>
					mem_loc AS slct,
				</otherwise>
		</choose>
		   	SUM(mem_sex='m') m_cnt,
		   	SUM(mem_sex='f') f_cnt
		FROM ${memberTable}
		WHERE 1=1
			AND mem_join_date= #{schDate}
		<if test="schJoinMedia != null and schJoinMedia != ''">
			AND join_media=#{schJoinMedia}
		</if>
		GROUP BY slct
	</sql>


	<select id="getOsList" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.OsResultVO">
		SELECT the_date,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'Android') THEN m_cnt ELSE 0 END)   AS sMAndroid,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPad') THEN m_cnt ELSE 0 END)      AS sMIPad,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPhone') THEN m_cnt ELSE 0 END)    AS sMIPhone,

		       SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Linux') THEN m_cnt ELSE 0 END)     AS wMLinux,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'MAC') THEN m_cnt ELSE 0 END)       AS wMMAC,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win10') THEN m_cnt ELSE 0 END)     AS wMWin10,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win7') THEN m_cnt ELSE 0 END)      AS wMWin7,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os IN ('Win8', 'Win8.1')) THEN m_cnt ELSE 0 END)      AS wMWin8,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os NOT IN ('Linux', 'MAC', 'Win10', 'Win7', 'Win8', 'Win8.1')) THEN m_cnt ELSE 0 END)     AS wMWEtc,

		       SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Android') THEN m_cnt ELSE 0 END)   AS xMAndroid,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('iPad' ,'iPhone' ,'MAC')) THEN m_cnt ELSE 0 END)      AS xMIPhone,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win10') THEN m_cnt ELSE 0 END)     AS xMWin10,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win7') THEN m_cnt ELSE 0 END)      AS xMWin7,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('Win8' ,'Win8.1')) THEN m_cnt ELSE 0 END)    AS xMWin8,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os NOT IN ('Android','iPad' ,'iPhone' ,'MAC','Win10', 'Win7', 'Win8', 'Win8.1')) THEN m_cnt ELSE 0 END)         AS xMEtc,

		       SUM(CASE WHEN (join_media = 's' AND mem_os = 'Android') THEN f_cnt ELSE 0 END)   AS sFAndroid,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPad') THEN f_cnt ELSE 0 END)      AS sFIPad,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPhone') THEN f_cnt ELSE 0 END)    AS sFIPhone,

		       SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Linux') THEN f_cnt ELSE 0 END)     AS wFLinux,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'MAC') THEN f_cnt ELSE 0 END)       AS wFMAC,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win10') THEN f_cnt ELSE 0 END)     AS wFWin10,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win7') THEN f_cnt ELSE 0 END)      AS wFWin7,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os IN ('Win8', 'Win8.1')) THEN f_cnt ELSE 0 END)      AS wFWin8,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os NOT IN ('Linux', 'MAC', 'Win10', 'Win7', 'Win8', 'Win8.1')) THEN f_cnt ELSE 0 END)     AS wFWEtc,

		       SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Android') THEN f_cnt ELSE 0 END)   AS xFAndroid,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('iPad' ,'iPhone' ,'MAC')) THEN f_cnt ELSE 0 END)      AS xFIPhone,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win10') THEN f_cnt ELSE 0 END)     AS xFWin10,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win7') THEN f_cnt ELSE 0 END)      AS xFWin7,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('Win8' ,'Win8.1')) THEN f_cnt ELSE 0 END)    AS xFWin8,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os NOT IN ('Android','iPad' ,'iPhone' ,'MAC','Win10', 'Win7', 'Win8', 'Win8.1')) THEN f_cnt ELSE 0 END)         AS xFEtc
		FROM member_stats_os
		WHERE the_date BETWEEN CONCAT('${schVal}', '-01') AND LAST_DAY(CONCAT('${schVal}', '-01'))
		GROUP BY the_date
		ORDER BY the_date DESC;
	</select>

	<select id="getOsTotSum" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.OsResultVO">
		SELECT SUM(CASE WHEN (join_media = 's' AND mem_os = 'Android') THEN m_cnt ELSE 0 END)   AS sMAndroid,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPad') THEN m_cnt ELSE 0 END)      AS sMIPad,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPhone') THEN m_cnt ELSE 0 END)    AS sMIPhone,

			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Linux') THEN m_cnt ELSE 0 END)     AS wMLinux,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'MAC') THEN m_cnt ELSE 0 END)       AS wMMAC,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win10') THEN m_cnt ELSE 0 END)     AS wMWin10,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win7') THEN m_cnt ELSE 0 END)      AS wMWin7,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os IN ('Win8', 'Win8.1')) THEN m_cnt ELSE 0 END)      AS wMWin8,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os NOT IN ('Linux', 'MAC', 'Win10', 'Win7', 'Win8', 'Win8.1')) THEN m_cnt ELSE 0 END)     AS wMWEtc,

			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Android') THEN m_cnt ELSE 0 END)   AS xMAndroid,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('iPad' ,'iPhone' ,'MAC')) THEN m_cnt ELSE 0 END)      AS xMIPhone,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win10') THEN m_cnt ELSE 0 END)     AS xMWin10,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win7') THEN m_cnt ELSE 0 END)      AS xMWin7,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('Win8' ,'Win8.1')) THEN m_cnt ELSE 0 END)    AS xMWin8,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os NOT IN ('Android','iPad' ,'iPhone' ,'MAC','Win10', 'Win7', 'Win8', 'Win8.1')) THEN m_cnt ELSE 0 END)         AS xMEtc,

			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'Android') THEN f_cnt ELSE 0 END)   AS sFAndroid,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPad') THEN f_cnt ELSE 0 END)      AS sFIPad,
			   SUM(CASE WHEN (join_media = 's' AND mem_os = 'iPhone') THEN f_cnt ELSE 0 END)    AS sFIPhone,

			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Linux') THEN f_cnt ELSE 0 END)     AS wFLinux,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'MAC') THEN f_cnt ELSE 0 END)       AS wFMAC,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win10') THEN f_cnt ELSE 0 END)     AS wFWin10,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os = 'Win7') THEN f_cnt ELSE 0 END)      AS wFWin7,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os IN ('Win8', 'Win8.1')) THEN f_cnt ELSE 0 END)      AS wFWin8,
			   SUM(CASE WHEN (join_media = 'w' AND mem_os NOT IN ('Linux', 'MAC', 'Win10', 'Win7', 'Win8', 'Win8.1')) THEN f_cnt ELSE 0 END)     AS wFWEtc,

			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Android') THEN f_cnt ELSE 0 END)   AS xFAndroid,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('iPad' ,'iPhone' ,'MAC')) THEN f_cnt ELSE 0 END)      AS xFIPhone,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win10') THEN f_cnt ELSE 0 END)     AS xFWin10,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os = 'Win7') THEN f_cnt ELSE 0 END)      AS xFWin7,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os IN ('Win8' ,'Win8.1')) THEN f_cnt ELSE 0 END)    AS xFWin8,
			   SUM(CASE WHEN (join_media = 'x' AND mem_os NOT IN ('Android','iPad' ,'iPhone' ,'MAC','Win10', 'Win7', 'Win8', 'Win8.1')) THEN f_cnt ELSE 0 END)         AS xFEtc
		FROM member_stats_os
		WHERE the_date BETWEEN CONCAT('${schVal}', '-01') AND LAST_DAY(CONCAT('${schVal}', '-01'))
		ORDER BY the_date DESC;
	</select>


	<select id="getLeaveTimeList" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LeaveTimeResultVO">
		SELECT date(exit_date) tDate, hour(exit_date) tTime,sum(mem_sex='m') as m_cnt,sum(mem_sex='f') as f_cnt,count(*) as tot_cnt
		FROM m_yeoboya.member_basic_exit
		WHERE exit_date BETWEEN CONCAT('${schDate}', ' 00:00:00') AND CONCAT('${schDate}', ' 23:59:59')
		GROUP BY 1, 2
	</select>

	<select id="getLeaveTimeTSum" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LeaveTimeResultVO">
		SELECT date(exit_date) tDate,sum(mem_sex='m') as m_cnt,sum(mem_sex='f') as f_cnt,count(*) as tot_cnt
		FROM m_yeoboya.member_basic_exit
		WHERE exit_date BETWEEN CONCAT('${schDate}', ' 00:00:00') AND CONCAT('${schDate}', ' 23:59:59')
		GROUP BY 1
	</select>

	<select id="getLeaveReasonList" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LeaveReasonResultVO">
		SELECT the_date,exit_reason,mcnt as mCnt,fcnt as fCnt FROM m_yeoboya.member_exit_reason_stat  WHERE the_date='${schDate}'
	</select>

	<select id="getLeaveReasonTSum" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LeaveReasonResultVO">
		SELECT the_date, sum(mcnt) as mCnt,sum(fcnt) as fCnt
		FROM m_yeoboya.member_exit_reason_stat
		WHERE the_date='${schDate}'
		GROUP BY the_date
	</select>

	<select id="getChartData" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LeaveReasonResultVO">
		SELECT T1.*
		FROM (
				 SELECT IF(t_cnt = 1, '기타', exit_reason) AS exit_reason
					  , SUM(m_cnt)                       AS m_cnt
					  , SUM(f_cnt)                       AS f_cnt
					  , SUM(t_cnt)                       AS t_cnt
				 FROM (
						  SELECT exit_reason, SUM(mcnt) AS m_cnt, SUM(fcnt) AS f_cnt, SUM(mcnt + fcnt) AS t_cnt
						  FROM m_yeoboya.member_exit_reason_stat
						  WHERE the_date BETWEEN CONCAT(#{schDm}, '-01') AND LAST_DAY(CONCAT(#{schDm}, '-01'))
						  GROUP BY 1
					  ) t
				 GROUP BY 1
				 order by t_cnt desc LIMIT 10
			 ) T1
		ORDER BY T1.t_cnt
	</select>

	<select id="getRestingSitData" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.RestingResultVO">
		SELECT
			mem_sex
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 1 MONTH) AND NOW(),1,0)) r1m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 2 MONTH) AND DATE_SUB(NOW(),INTERVAL 1 MONTH),1,0)) r2m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 3 MONTH) AND DATE_SUB(NOW(),INTERVAL 2 MONTH),1,0)) r3m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 4 MONTH) AND DATE_SUB(NOW(),INTERVAL 3 MONTH),1,0)) r4m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 5 MONTH) AND DATE_SUB(NOW(),INTERVAL 4 MONTH),1,0)) r5m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 6 MONTH) AND DATE_SUB(NOW(),INTERVAL 5 MONTH),1,0)) r6m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 7 MONTH) AND DATE_SUB(NOW(),INTERVAL 6 MONTH),1,0)) r7m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 8 MONTH) AND DATE_SUB(NOW(),INTERVAL 7 MONTH),1,0)) r8m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 9 MONTH) AND DATE_SUB(NOW(),INTERVAL 8 MONTH),1,0)) r9m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 10 MONTH) AND DATE_SUB(NOW(),INTERVAL 9 MONTH),1,0)) r10m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 11 MONTH) AND DATE_SUB(NOW(),INTERVAL 10 MONTH),1,0)) r11m_cnt
			 ,SUM(IF(rest_date BETWEEN DATE_SUB(NOW(),INTERVAL 366 DAY) AND DATE_SUB(NOW(),INTERVAL 11 MONTH),1,0)) r12m_cnt
		FROM m_yeoboya.member_detail a
		WHERE rest_yn='y'
		GROUP BY 1
	</select>

	<select id="getRestingSitDateList" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.RestingDateResultVO">
		SELECT
		       the_date,
		       login_media,
		       sum(rest_m_cnt) as rest_m_cnt,
		       sum(rest_f_cnt) as rest_f_cnt,
		       sum(rest_rm_cnt) as rest_rm_cnt,
		       sum(rest_rf_cnt) as rest_rf_cnt
		FROM member_stats
		WHERE the_date BETWEEN CONCAT('${schVal}', '-01') AND LAST_DAY(CONCAT('${schVal}', '-01'))
		group by 1
		order by the_date desc
	</select>

	<select id="getRestingSitDateTSum" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.RestingDateResultVO">
		SELECT
			sum(rest_m_cnt) as rest_m_cnt,
			sum(rest_f_cnt) as rest_f_cnt,
			sum(rest_rm_cnt) as rest_rm_cnt,
			sum(rest_rf_cnt) as rest_rf_cnt
		FROM member_stats
		WHERE the_date BETWEEN CONCAT('${schVal}', '-01') AND LAST_DAY(CONCAT('${schVal}', '-01'))
	</select>

	<select id="getLongTermNoUserDateList" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LongTermNoUseDateResultVO">
		SELECT the_date,
		       login_media,
		       sum(inact_m_cnt) as inact_m_cnt,
		       sum(inact_f_cnt) as inact_f_cnt,
		       sum(inact_rm_cnt) as inact_rm_cnt,
		       sum(inact_rf_cnt) as inact_rf_cnt
		FROM member_stats
		WHERE the_date BETWEEN CONCAT('${schVal}', '-01') AND LAST_DAY(CONCAT('${schVal}', '-01'))
		group by 1
		order by the_date desc
	</select>

	<select id="getLongTermNoUserDateTSum" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LongTermNoUseDateResultVO">
		SELECT sum(inact_m_cnt) as inact_m_cnt,
			   sum(inact_f_cnt) as inact_f_cnt,
			   sum(inact_rm_cnt) as inact_rm_cnt,
			   sum(inact_rf_cnt) as inact_rf_cnt
		FROM member_stats
		WHERE the_date BETWEEN CONCAT('${schVal}', '-01') AND LAST_DAY(CONCAT('${schVal}', '-01'))
	</select>

	<select id="getAdvTransLogStats" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.AdvTransLogResultVO">
		SELECT a.mem_no,a.mem_id,a.smtp_id,a.login_ip,a.login_media,a.mem_hphone,a.ad_where,a.mem_stat,a.ins_date
		,a.mem_sex
		,if(b.mem_no is not null, b.mem_nick,c.mem_nick) as mem_nick
		,year(now())-if(b.mem_no is not null, b.mem_birth_year,c.mem_birth_year)+1 as mem_age
		,if(b.mem_no is not null, b.mem_join_date,c.mem_join_date) as mem_join_date
		,if(b.mem_no is not null,'0000-00-00 00:00:00',c.exit_date) as exit_date
		,if(d.mem_no is not null,d.mate_slct,e.mate_slct) as mateSlct
		FROM m_yeoboya.cp_adv_send a
		left join member_basic b on a.mem_no = b.mem_no
		left join member_basic_exit c on a.mem_no = c.mem_no
		left join member_mate d on a.mem_no = d.mem_no
		left join member_mate_exit e on a.mem_no = e.mem_no

		WHERE
		<choose>
			<when test="schTime != null and schTime != 'ALL'">
				a.ins_date BETWEEN CONCAT('${schDate}',' ${schTime}:00:00') AND CONCAT('${schDate}',' ${schTime}:59:59')
			</when>
			<otherwise>
				a.ins_date BETWEEN CONCAT('${schDate}',' 00:00:00') AND CONCAT('${schDate}',' 23:59:59')
			</otherwise>
		</choose>
		<choose>
			<when test='schSex == "f"'>
				AND a.mem_sex='f'
			</when>
			<when test='schSex == "m"'>
				AND a.mem_sex='m'
			</when>
		</choose>
		<choose>
			<when test='schJoinMedia == "w"'>
				AND a.login_media='w'
			</when>
			<when test='schJoinMedia == "s"'>
				AND a.login_media='s'
			</when>
			<when test='schJoinMedia == "x"'>
				AND a.login_media='x'
			</when>
		</choose>
		ORDER BY a.ins_date DESC LIMIT #{start}, 100
	</select>

	<select id="getAdvTransLogStatsTSum" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO"  resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.AdvTransLogResultVO">
		SELECT count(*) cnt,SUM(b.mem_no IS NOT NULL) reg_cnt,SUM(c.mem_no IS NOT NULL) exit_cnt
		FROM cp_adv_send a
		LEFT JOIN member_basic b ON a.mem_no = b.mem_no
		LEFT JOIN member_basic_exit c ON a.mem_no = c.mem_no
		WHERE
		<choose>
			<when test="schTime != null and schTime != 'ALL'">
				a.ins_date BETWEEN CONCAT('${schDate}',' ${schTime}:00:00') AND CONCAT('${schDate}',' ${schTime}:59:59')
			</when>
			<otherwise>
				a.ins_date BETWEEN CONCAT('${schDate}',' 00:00:00') AND CONCAT('${schDate}',' 23:59:59')
			</otherwise>
		</choose>


		<choose>
			<when test='schSex == "f"'>
				AND a.mem_sex='f'
			</when>
			<when test='schSex == "m"'>
				AND a.mem_sex='m'
			</when>
		</choose>
		<choose>
			<when test='schJoinMedia == "w"'>
				AND a.login_media='w'
			</when>
			<when test='schJoinMedia == "s"'>
				AND a.login_media='s'
			</when>
			<when test='schJoinMedia == "x"'>
				AND a.login_media='x'
			</when>
		</choose>
	</select>

	<select id="getMemberTotalCnt" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="java.lang.Integer">

		select sum(cnt) as cnt from (
			select count(*) cnt from member_basic a
			<where>
				<include refid="memberSch"></include>
			</where>
			UNION ALL
			select count(*) cnt from member_basic_exit a
			<where>
				<include refid="memberSch"></include>
			</where>
		) K
	</select>

	<select id="getGraphicStats" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">

		SELECT T1.dm, T1.dt , SUM(T1.m_cnt + T1.m_smtp_cnt + T1.m_mow_cnt) AS m_graph_sum
		, SUM(T1.f_cnt + T1.f_smtp_cnt + T1.f_mow_cnt) AS f_graph_sum
		, SUM(T1.m_cnt + T1.m_smtp_cnt + T1.m_mow_cnt + T1.f_cnt + T1.f_smtp_cnt + T1.f_mow_cnt) AS tot_graph_sum
		FROM (
			SELECT DATE_FORMAT(mem_join_date, '%Y-%m') AS dm
			, mem_join_date AS dt
			, IFNULL(SUM(mem_sex='m' AND join_media='w'),0) AS m_cnt
			, IFNULL(sum(mem_sex='f' AND join_media='w'),0) AS f_cnt
			, IFNULL(SUM(mem_sex='m' AND join_media IN ('s', 'b')),0) AS m_smtp_cnt
			, IFNULL(SUM(mem_sex='f' AND join_media IN ('s', 'b')),0) AS f_smtp_cnt
			, IFNULL(SUM(mem_sex='m' AND join_media='x'),0) AS m_mow_cnt
			, IFNULL(SUM(mem_sex='f' AND join_media='x'),0) AS f_mow_cnt
			FROM member_basic
			WHERE 1=1
			<choose>
				<when test="schTerm != null and schTerm == '1m'">
					and mem_join_date BETWEEN DATE_SUB(#{schDate}, INTERVAL 1 MONTH) AND #{schDate}
				</when>
				<when test="schTerm != null and schTerm == '6m'">
					and mem_join_date BETWEEN DATE_SUB(#{schDate}, INTERVAL 6 MONTH) AND #{schDate}
				</when>
				<when test="schTerm != null and schTerm == '1y'">
					and mem_join_date BETWEEN DATE_SUB(#{schDate}, INTERVAL 1 YEAR) AND #{schDate}
				</when>
				<when test="schTerm != null and schTerm == 'from_1m'">
					and mem_join_date BETWEEN #{schDate} AND DATE_ADD(#{schDate}, INTERVAL 1 MONTH)
				</when>
				<when test="schTerm != null and schTerm == 'from_6m'">
					and mem_join_date BETWEEN #{schDate} AND DATE_ADD(#{schDate}, INTERVAL 6 MONTH)
				</when>
				<when test="schTerm != null and schTerm == 'from_1y'">
					and mem_join_date BETWEEN #{schDate} AND DATE_ADD(#{schDate}, INTERVAL 1 YEAR)
				</when>
				<otherwise>
					and mem_join_date BETWEEN DATE_SUB(#{schDate}, INTERVAL 1 MONTH) AND #{schDate}
				</otherwise>
			</choose>
			<if test="schJoinMedia != null and schJoinMedia != ''">
				AND join_media=#{schJoinMedia}
			</if>
			GROUP BY 1,2
		) T1

		GROUP BY  1,2
		ORDER BY dt
	</select>

	<select id="getJoinStatsTimeNew" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">

		SELECT dt, tm
		<include refid="joinTimeRetDiv"/>
		FROM (
			SELECT dt, tm
			<include refid="joinTimeSumDiv"/>
			FROM
			<foreach collection="dateArr" item="item" open="(" close=")" index="index" separator="UNION ALL">
				SELECT 'j' reg_slct,mem_join_date dt, HOUR(mem_join_time) tm, SUM(mem_sex='m' AND join_media='w') j_m_cnt,
				SUM(mem_sex='f' AND join_media='w') j_f_cnt, SUM(mem_sex='m' AND join_media IN('s','b')) j_m_smtp_cnt,
				SUM(mem_sex='f' AND join_media IN('s','b')) j_f_smtp_cnt, SUM(mem_sex='m' AND join_media='x') j_m_mow_cnt,
				SUM(mem_sex='f' AND join_media='x') j_f_mow_cnt
				, SUM(mem_sex='m' AND mem_slct='b') j_sb_m_cnt, SUM(mem_sex='f' AND mem_slct='b') j_sb_f_cnt
				, SUM(mem_sex='m' AND mem_slct='n') j_sn_m_cnt, SUM(mem_sex='f' AND mem_slct='n') j_sn_f_cnt
				, SUM(mem_sex='m' AND mem_slct='o') j_sk_m_cnt, SUM(mem_sex='f' AND mem_slct='o') j_sk_f_cnt
				, SUM(mem_sex='m' AND mem_slct='f') j_sf_m_cnt, SUM(mem_sex='f' AND mem_slct='f') j_sf_f_cnt
				, SUM(mem_sex='m' AND mem_slct='g') j_sg_m_cnt, SUM(mem_sex='f' AND mem_slct='g') j_sg_f_cnt
				, SUM(mem_sex='m' AND mem_slct='a') j_sa_m_cnt, SUM(mem_sex='f' AND mem_slct='a') j_sa_f_cnt
				, SUM(mem_sex='m' AND mem_chnl=502) j_m_502_cnt, SUM(mem_sex='f' AND mem_chnl=502) j_f_502_cnt
				, 0 as x_m_cnt, 0 as x_f_cnt, 0 as x_m_smtp_cnt, 0 as x_f_smtp_cnt, 0 as x_m_mow_cnt, 0 as x_f_mow_cnt, 0 as
				x_sb_m_cnt, 0 as x_sb_f_cnt, 0 as x_sn_m_cnt
				, 0 as x_sn_f_cnt, 0 as x_sk_m_cnt, 0 as x_sk_f_cnt, 0 as x_sf_m_cnt, 0 as x_sf_f_cnt, 0 as x_sg_m_cnt, 0 as
				x_sg_f_cnt, 0 as x_sa_m_cnt, 0 as x_sa_f_cnt
				, 0 as x_m_502_cnt, 0 as x_f_502_cnt
				FROM member_basic WHERE mem_join_date='${item}' GROUP BY reg_slct,dt, tm
				UNION ALL
				SELECT 'x' reg_slct,mem_join_date dt, HOUR(mem_join_time) tm
				, 0 as j_m_cnt, 0 as j_f_cnt, 0 as j_m_smtp_cnt, 0 as j_f_smtp_cnt, 0 as j_m_mow_cnt, 0 as j_f_mow_cnt, 0 as
				j_sb_m_cnt, 0 as j_sb_f_cnt, 0 as j_sn_m_cnt
				, 0 as j_sn_f_cnt, 0 as j_sk_m_cnt, 0 as j_sk_f_cnt, 0 as j_sf_m_cnt, 0 as j_sf_f_cnt, 0 as j_sg_m_cnt, 0 as
				j_sg_f_cnt, 0 as j_sa_m_cnt, 0 as j_sa_f_cnt
				, 0 as j_m_502_cnt, 0 as j_f_502_cnt
				, SUM(mem_sex='m' AND join_media='w') x_m_cnt, sum(mem_sex='f' AND join_media='w') x_f_cnt, SUM(mem_sex='m'
				AND join_media IN('s','b')) x_m_smtp_cnt, SUM(mem_sex='f' AND join_media IN('s','b')) x_f_smtp_cnt,
				SUM(mem_sex='m' AND join_media='x') x_m_mow_cnt, SUM(mem_sex='f' AND join_media='x') x_f_mow_cnt
				, SUM(mem_sex='m' AND mem_slct='b') x_sb_m_cnt, SUM(mem_sex='f' AND mem_slct='b') x_sb_f_cnt
				, SUM(mem_sex='m' AND mem_slct='n') x_sn_m_cnt, SUM(mem_sex='f' AND mem_slct='n') x_sn_f_cnt
				, SUM(mem_sex='m' AND mem_slct='o') x_sk_m_cnt, SUM(mem_sex='f' AND mem_slct='o') x_sk_f_cnt
				, SUM(mem_sex='m' AND mem_slct='f') x_sf_m_cnt, SUM(mem_sex='f' AND mem_slct='f') x_sf_f_cnt
				, SUM(mem_sex='m' AND mem_slct='g') x_sg_m_cnt, SUM(mem_sex='f' AND mem_slct='g') x_sg_f_cnt
				, SUM(mem_sex='m' AND mem_slct='a') x_sa_m_cnt, SUM(mem_sex='f' AND mem_slct='a') x_sa_f_cnt
				, SUM(mem_sex='m' AND mem_chnl=502) x_m_502_cnt, SUM(mem_sex='f' AND mem_chnl=502) x_f_502_cnt
				FROM member_basic_exit WHERE mem_join_date='${item}' GROUP BY reg_slct,dt, tm
			</foreach>
			A
			GROUP BY dt, tm
		) B

	</select>

	<sql id="joinTimeSumDiv">
		, SUM(j_m_cnt) j_m_cnt
		, SUM(j_f_cnt) j_f_cnt
		, SUM(j_m_smtp_cnt) j_m_smtp_cnt
		, SUM(x_f_smtp_cnt) j_f_smtp_cnt
		, SUM(j_m_mow_cnt) j_m_mow_cnt
		, SUM(j_f_mow_cnt) j_f_mow_cnt
		, SUM(j_sb_m_cnt) j_sb_m_cnt
		, SUM(j_sb_f_cnt) j_sb_f_cnt

		, SUM(j_sn_m_cnt) j_sn_m_cnt
		, SUM(j_sn_f_cnt) j_sn_f_cnt
		, SUM(j_sk_m_cnt) j_sk_m_cnt
		, SUM(j_sk_f_cnt) j_sk_f_cnt
		, SUM(j_sf_m_cnt) j_sf_m_cnt
		, SUM(j_sf_f_cnt) j_sf_f_cnt
		, SUM(j_sg_m_cnt) j_sg_m_cnt
		, SUM(j_sg_f_cnt) j_sg_f_cnt
		, SUM(j_sa_m_cnt) j_sa_m_cnt
		, SUM(j_sa_f_cnt) j_sa_f_cnt
		, SUM(j_m_502_cnt) j_m_502_cnt
		, SUM(j_f_502_cnt) j_f_502_cnt

		, SUM(x_m_cnt) x_m_cnt
		, SUM(x_f_cnt) x_f_cnt
		, SUM(x_m_smtp_cnt) x_m_smtp_cnt
		, SUM(x_f_smtp_cnt) x_f_smtp_cnt
		, SUM(x_m_mow_cnt) x_m_mow_cnt
		, SUM(x_f_mow_cnt) x_f_mow_cnt
		, SUM(x_sb_m_cnt) x_sb_m_cnt
		, SUM(x_sb_f_cnt) x_sb_f_cnt

		, SUM(x_sn_m_cnt) x_sn_m_cnt
		, SUM(x_sn_f_cnt) x_sn_f_cnt
		, SUM(x_sk_m_cnt) x_sk_m_cnt
		, SUM(x_sk_f_cnt) x_sk_f_cnt
		, SUM(x_sf_m_cnt) x_sf_m_cnt
		, SUM(x_sf_f_cnt) x_sf_f_cnt
		, SUM(x_sg_m_cnt) x_sg_m_cnt
		, SUM(x_sg_f_cnt) x_sg_f_cnt
		, SUM(x_sa_m_cnt) x_sa_m_cnt
		, SUM(x_sa_f_cnt) x_sa_f_cnt
		, SUM(x_m_502_cnt) x_m_502_cnt
		, SUM(x_f_502_cnt) x_f_502_cnt
		, SUM(j_sb_m_cnt+ j_sn_m_cnt + j_sk_m_cnt + j_sf_m_cnt + j_sg_m_cnt + j_sa_m_cnt) AS join_m_accmlt
        , SUM(j_sb_f_cnt + j_sn_f_cnt + j_sk_f_cnt + j_sf_f_cnt + j_sg_f_cnt + j_sa_f_cnt) AS join_f_accmlt
		, SUM(j_sb_m_cnt + j_sb_f_cnt + j_sn_m_cnt + j_sn_f_cnt + j_sk_m_cnt + j_sk_f_cnt + j_sf_m_cnt + j_sf_f_cnt + j_sg_m_cnt + j_sg_f_cnt
            + j_sa_m_cnt + j_sa_f_cnt
			+ x_sb_m_cnt + x_sb_f_cnt + x_sn_m_cnt + x_sn_f_cnt + x_sk_m_cnt + x_sk_f_cnt + x_sf_m_cnt + x_sf_f_cnt + x_sg_m_cnt + x_sg_f_cnt
            + x_sa_m_cnt + x_sa_f_cnt) AS join_accmlt
		, SUM(x_sb_m_cnt+ x_sn_m_cnt + x_sk_m_cnt + x_sf_m_cnt + x_sg_m_cnt + x_sa_m_cnt) AS exit_m_accmlt
        , SUM(x_sb_f_cnt + x_sn_f_cnt + x_sk_f_cnt + x_sf_f_cnt + x_sg_f_cnt + x_sa_f_cnt) AS exit_f_accmlt
        , SUM(x_sb_m_cnt + x_sb_f_cnt + x_sn_m_cnt + x_sn_f_cnt + x_sk_m_cnt + x_sk_f_cnt + x_sf_m_cnt + x_sf_f_cnt + x_sg_m_cnt + x_sg_f_cnt
            + x_sa_m_cnt + x_sa_f_cnt) AS exit_accmlt
	</sql>

	<sql id="joinTimeRetDiv">
		<choose>
			<when test="memberType == 'join'">
				, (j_m_cnt + x_m_cnt) AS m_cnt
				, (j_f_cnt + x_f_cnt) AS f_cnt
				, (j_m_smtp_cnt + x_m_smtp_cnt) AS m_smtp_cnt
				, (j_f_smtp_cnt + x_f_smtp_cnt) AS f_smtp_cnt
				, (j_m_mow_cnt + x_m_mow_cnt) AS m_mow_cnt
				, (j_f_mow_cnt + x_f_mow_cnt) AS f_mow_cnt
				, (j_sb_m_cnt + x_sb_m_cnt) AS sb_m_cnt
				, (j_sb_f_cnt + x_sb_f_cnt) AS sb_f_cnt
				, (j_sn_m_cnt + x_sn_m_cnt) AS sn_m_cnt
				, (j_sn_f_cnt + x_sn_f_cnt) AS sn_f_cnt
				, (j_sk_m_cnt + x_sk_m_cnt) AS sk_m_cnt
				, (j_sk_f_cnt + x_sk_f_cnt) AS sk_f_cnt
				, (j_sf_m_cnt + x_sf_m_cnt) AS sf_m_cnt
				, (j_sf_f_cnt + x_sf_f_cnt) AS sf_f_cnt
				, (j_sg_m_cnt + x_sg_m_cnt) AS sg_m_cnt
				, (j_sg_f_cnt + x_sg_f_cnt) AS sg_f_cnt
				, (j_sa_m_cnt + x_sa_m_cnt) AS sa_m_cnt
				, (j_sa_f_cnt + x_sa_f_cnt) AS sa_f_cnt
				, j_m_502_cnt AS j_m_502_cnt
				, j_f_502_cnt AS j_f_502_cnt
				, x_m_502_cnt AS x_m_502_cnt
				, x_f_502_cnt AS x_f_502_cnt

				<!-- 가입 조회시 탈퇴 데이터도 같이 보여주기 위해 추가 -->
				, x_m_cnt AS x_m_cnt
				, x_f_cnt AS x_f_cnt
				, x_m_smtp_cnt AS x_m_smtp_cnt
				, x_f_smtp_cnt AS x_f_smtp_cnt
				, x_m_mow_cnt AS x_m_mow_cnt
				, x_f_mow_cnt AS x_f_mow_cnt
				, x_sb_m_cnt AS x_sb_m_cnt
				, x_sb_f_cnt AS x_sb_f_cnt
				, x_sn_m_cnt AS x_sn_m_cnt
				, x_sn_f_cnt AS x_sn_f_cnt
				, x_sk_m_cnt AS x_sk_m_cnt
				, x_sk_f_cnt AS x_sk_f_cnt
				, x_sf_m_cnt AS x_sf_m_cnt
				, x_sf_f_cnt AS x_sf_f_cnt
				, x_sg_m_cnt AS x_sg_m_cnt
				, x_sg_f_cnt AS x_sg_f_cnt
				, x_sa_m_cnt AS x_sa_m_cnt
				, x_sa_f_cnt AS x_sa_f_cnt

				<!-- 합계 및 누적 데이터 -->
				, join_m_accmlt
				, join_f_accmlt
				, join_accmlt
				, exit_m_accmlt
				, exit_f_accmlt
				, exit_accmlt
			</when>
			<otherwise>
				, x_m_cnt AS m_cnt
				, x_f_cnt AS f_cnt
				, x_m_smtp_cnt AS m_smtp_cnt
				, x_f_smtp_cnt AS f_smtp_cnt
				, x_m_mow_cnt AS m_mow_cnt
				, x_f_mow_cnt AS f_mow_cnt
				, x_sb_m_cnt AS sb_m_cnt
				, x_sb_f_cnt AS sb_f_cnt
				, x_sn_m_cnt AS sn_m_cnt
				, x_sn_f_cnt AS sn_f_cnt
				, x_sk_m_cnt AS sk_m_cnt
				, x_sk_f_cnt AS sk_f_cnt
				, x_sf_m_cnt AS sf_m_cnt
				, x_sf_f_cnt AS sf_f_cnt
				, x_sg_m_cnt AS sg_m_cnt
				, x_sg_f_cnt AS sg_f_cnt
				, x_sa_m_cnt AS sa_m_cnt
				, x_sa_f_cnt AS sa_f_cnt
				, j_m_502_cnt AS j_m_502_cnt
				, j_f_502_cnt AS j_f_502_cnt
				, x_m_502_cnt AS x_m_502_cnt
				, x_f_502_cnt AS x_f_502_cnt
				, join_m_accmlt
				, join_f_accmlt
				, join_accmlt
				, exit_m_accmlt
				, exit_f_accmlt
				, exit_accmlt
			</otherwise>
		</choose>

	</sql>

	<!--일일 합계-->
	<select id="getJoinStatsDaySumNew" parameterType="com.inforex.yeoboya_admin.common.vo.SearchDtVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.JoinTimeResultVO">

		SELECT dt, tm
		<include refid="joinTimeRetDiv"/>
		FROM (
		SELECT dt, tm
		<include refid="joinTimeSumDiv"/>
		FROM
		<foreach collection="dateArr" item="item" open="(" close=")" index="index" separator="UNION ALL">
			SELECT 'j' reg_slct,mem_join_date dt, HOUR(mem_join_time) tm, SUM(mem_sex='m' AND join_media='w') j_m_cnt,
			SUM(mem_sex='f' AND join_media='w') j_f_cnt, SUM(mem_sex='m' AND join_media IN('s','b')) j_m_smtp_cnt,
			SUM(mem_sex='f' AND join_media IN('s','b')) j_f_smtp_cnt, SUM(mem_sex='m' AND join_media='x') j_m_mow_cnt,
			SUM(mem_sex='f' AND join_media='x') j_f_mow_cnt
			, SUM(mem_sex='m' AND mem_slct='b') j_sb_m_cnt, SUM(mem_sex='f' AND mem_slct='b') j_sb_f_cnt
			, SUM(mem_sex='m' AND mem_slct='n') j_sn_m_cnt, SUM(mem_sex='f' AND mem_slct='n') j_sn_f_cnt
			, SUM(mem_sex='m' AND mem_slct='o') j_sk_m_cnt, SUM(mem_sex='f' AND mem_slct='o') j_sk_f_cnt
			, SUM(mem_sex='m' AND mem_slct='f') j_sf_m_cnt, SUM(mem_sex='f' AND mem_slct='f') j_sf_f_cnt
			, SUM(mem_sex='m' AND mem_slct='g') j_sg_m_cnt, SUM(mem_sex='f' AND mem_slct='g') j_sg_f_cnt
			, SUM(mem_sex='m' AND mem_slct='a') j_sa_m_cnt, SUM(mem_sex='f' AND mem_slct='a') j_sa_f_cnt
			, SUM(mem_sex='m' AND mem_chnl=502) j_m_502_cnt, SUM(mem_sex='f' AND mem_chnl=502) j_f_502_cnt
			, 0 as x_m_cnt, 0 as x_f_cnt, 0 as x_m_smtp_cnt, 0 as x_f_smtp_cnt, 0 as x_m_mow_cnt, 0 as x_f_mow_cnt, 0 as
			x_sb_m_cnt, 0 as x_sb_f_cnt, 0 as x_sn_m_cnt
			, 0 as x_sn_f_cnt, 0 as x_sk_m_cnt, 0 as x_sk_f_cnt, 0 as x_sf_m_cnt, 0 as x_sf_f_cnt, 0 as x_sg_m_cnt, 0 as
			x_sg_f_cnt, 0 as x_sa_m_cnt, 0 as x_sa_f_cnt
			, 0 as x_m_502_cnt, 0 as x_f_502_cnt
			FROM member_basic WHERE mem_join_date='${item}' GROUP BY reg_slct,dt, tm
			UNION ALL
			SELECT 'x' reg_slct,mem_join_date dt, HOUR(mem_join_time) tm
			, 0 as j_m_cnt, 0 as j_f_cnt, 0 as j_m_smtp_cnt, 0 as j_f_smtp_cnt, 0 as j_m_mow_cnt, 0 as j_f_mow_cnt, 0 as
			j_sb_m_cnt, 0 as j_sb_f_cnt, 0 as j_sn_m_cnt
			, 0 as j_sn_f_cnt, 0 as j_sk_m_cnt, 0 as j_sk_f_cnt, 0 as j_sf_m_cnt, 0 as j_sf_f_cnt, 0 as j_sg_m_cnt, 0 as
			j_sg_f_cnt, 0 as j_sa_m_cnt, 0 as j_sa_f_cnt
			, 0 as j_m_502_cnt, 0 as j_f_502_cnt
			, SUM(mem_sex='m' AND join_media='w') x_m_cnt, sum(mem_sex='f' AND join_media='w') x_f_cnt, SUM(mem_sex='m'
			AND join_media IN('s','b')) x_m_smtp_cnt, SUM(mem_sex='f' AND join_media IN('s','b')) x_f_smtp_cnt,
			SUM(mem_sex='m' AND join_media='x') x_m_mow_cnt, SUM(mem_sex='f' AND join_media='x') x_f_mow_cnt
			, SUM(mem_sex='m' AND mem_slct='b') x_sb_m_cnt, SUM(mem_sex='f' AND mem_slct='b') x_sb_f_cnt
			, SUM(mem_sex='m' AND mem_slct='n') x_sn_m_cnt, SUM(mem_sex='f' AND mem_slct='n') x_sn_f_cnt
			, SUM(mem_sex='m' AND mem_slct='o') x_sk_m_cnt, SUM(mem_sex='f' AND mem_slct='o') x_sk_f_cnt
			, SUM(mem_sex='m' AND mem_slct='f') x_sf_m_cnt, SUM(mem_sex='f' AND mem_slct='f') x_sf_f_cnt
			, SUM(mem_sex='m' AND mem_slct='g') x_sg_m_cnt, SUM(mem_sex='f' AND mem_slct='g') x_sg_f_cnt
			, SUM(mem_sex='m' AND mem_slct='a') x_sa_m_cnt, SUM(mem_sex='f' AND mem_slct='a') x_sa_f_cnt
			, SUM(mem_sex='m' AND mem_chnl=502) x_m_502_cnt, SUM(mem_sex='f' AND mem_chnl=502) x_f_502_cnt
			FROM member_basic_exit WHERE mem_join_date='${item}' GROUP BY reg_slct,dt, tm
		</foreach>
		A
		GROUP BY dt
		) B

	</select>

	<select id="getLeaveMonthList" parameterType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.SchMemberVO" resultType="com.inforex.yeoboya_admin.web.joinPayStatus.join.vo.LeaveMonthResultVO">
		SELECT the_date AS dt,
			   sum( if(login_media ='w',exit_m_cnt,0 )) AS exit_w_m_cnt,
			   sum( if(login_media ='s',exit_m_cnt,0 )) AS exit_s_m_cnt,
			   sum( if(login_media ='x',exit_m_cnt,0 )) AS exit_x_m_cnt,
			   sum( if(login_media ='w',exit_f_cnt,0 )) AS exit_w_f_cnt,
			   sum( if(login_media ='s',exit_f_cnt,0 )) AS exit_s_f_cnt,
			   sum( if(login_media ='x',exit_f_cnt,0 )) AS exit_x_f_cnt,
			   sum( if(login_media ='w',inact_exit_m_cnt,0 )) AS inact_exit_w_m_cnt,
			   sum( if(login_media ='s',inact_exit_m_cnt,0 )) AS inact_exit_s_m_cnt,
			   sum( if(login_media ='x',inact_exit_m_cnt,0 )) AS inact_exit_x_m_cnt,
			   sum( if(login_media ='w',inact_exit_f_cnt,0 )) AS inact_exit_w_f_cnt,
			   sum( if(login_media ='s',inact_exit_f_cnt,0 )) AS inact_exit_s_f_cnt,
			   sum( if(login_media ='x',inact_exit_f_cnt,0 )) AS inact_exit_x_f_cnt
		FROM member_stats
		WHERE the_date between CONCAT(SUBSTR(#{schDate},1,7), '-01') AND LAST_DAY(CONCAT(SUBSTR(#{schDate},1,7), '-01'))
		group by 1
		order by 1 desc
	</select>
</mapper>